.movie__backdrop {
  height: 400px;
  width: calc(100%);
  background-size: cover;
  display: flex; }
  .movie__backdrop__content {
    margin-left: 1em;
    padding-bottom: 1em;
    align-self: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 96%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 96%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 96%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    .movie__backdrop__content.content .content__vote {
      background-color: #fff;
      color: black;
      border-radius: 5px;
      width: 100px;
      justify-content: center; }

.movie .movie__details {
  width: 100%; }
  .movie .movie__details__media__content {
    display: block; }
